<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="fakeGoogle.css"> 
        <title>duplikat googla</title>
    </head>
    <body>
        <div class="ime"> 
            <a href="https://accounts.google.com/ServiceLogin?sacu=1&continue=https%3A%2F%2Fplus.google.com%2F%3Fgpsrc%3Dogpy0%26tab%3DwX&hl=sl&service=oz">+ti</a>
            <a href="#">Gmail</a>
            <a href="https://www.google.si/imghp?hl=sl&tab=wi&ei=DXIKVd7vLYXMPdaPgLAC&ved=0CA4Qqi4oAg">Slike</a>
            <a href="#">Boogle</a>
        </div>
        <br>
        <div class="GoogleSlika">
            <img src="http://lh5.ggpht.com/wfMM8puw5zuiOp2hh4KSi7qkHzxhYsYZV2pX_ajX2Co2EL-g1fcVlJPBZFfPlsnve-uIq4NJl3dSyhdjBQrtQeR6BHHCL5k_iQkM8dtr=s660"/>
        </div>
        <div>
            <input class="kvadratek"></input>
            <div class="2kvadratka">
                <br>
                <button>Iskanje Boogle</button>
                <button>Klik na sreco</button>
            </div>
        </div>
        <div class="Lnoga">
            <a href="https://www.google.si/intl/sl/ads/?fg=1">Oglasevanje</a>
            <a href="https://www.google.si/services/?fg=1">Posel</a>
            <a href="https://www.google.si/intl/sl/about/">Predstavitev</a>  
        </div>
        <div class="Dnoga">
            <a href="https://www.google.si/intl/sl/policies/privacy/?fg=1">Zasebnost</a>
            <a href="https://www.google.si/intl/sl/policies/terms/regional.html">Pogoji</a>
            <a href="#">Nastavitve</a>
            <a href="https://www.google.si/?gws_rd=cr&ei=WGMJVc3zGcrlUYWmgfgD">Uporabi Boogle.com</a>
        </div>
    </body>
</html>