<!DOCTYPE html>
<html>
    <head>
        <img src="http://m.cdn.blog.hu/vi/viragakiss/image/facebook_logo.jpg"/>
        <div><input class="iskalnik"</input></div><br>
        <link type="text/css" rel="stylesheet" href="fakebook.css"/>
        <title>Fakebook</title>
        <meta charset="utf-8">
    </head>
    <body>
        <br>
        <h1>Fakebuk</h1> 
        <br>
        <br>
        <br>
        <p class="levo"><strong>Marija Žnidaršič</strong></p>
        <p><button>Casovnica</button>  <button>Prijatelji</button>  <button>Slike</button>  <button>Skupine</button></p>
        <img src="http://www.thewallpapers.org/photo/35989/green-hills.jpg" width="500">
        <br>
        <button>Dodaj za prijatelja</button>
        <ul>
            <li><span style="font-family:Impact">Kraj:</span> Cerknica</li>
            <li><span style="font-family:Impact">Hobi:</span> ples,hribolazenje</li>
        </ul>
        <br>
        <div>SMARTNINJA:</div> 
        <div>
        <ol>
            <p class="first-child">Matej Ramuta</p>     
            <p class="second-child(2)">Ziga Besal</p>           
        </ol>        
         </div>
        <table style="width:350px" border="5"; >
            <thead>
                <th colspan="3" style="color:green" text-line:left>Potovanja</th>
                 <tr>
                     <td><strong>S</strong>panija</td>
                     <td><strong>G</strong>rcija</td>
                     <td><strong>K</strong>anarski otoki</td>
                </tr> 
            </thead>
        </table>  
        <br>
        <table style="width:450px" border="3">
            <thead>
                <th colspan="2" style="color:blue" text-aline:left>Skupine</th>
                 <tr>
                     <td><strong>SmartNinja</strong>Community</td>
                     <td>Slovenija Tech Students</td>
                </tr>
            </thead>
        </table>
        <ul>Favorite Quotes
	   <div> <li class="sp">"Always be willing to look at both sides of the argument. Understanding the other side is the best way to strengthen your own."        </li>
	    <li class="drugaBarva">"It isn’t what the book costs; it’s what it will cost if you don’t read it."</li>
	    <li class="tretjaBarva">Get around people who have something of value to share with you. Their impact will continue to have a significant effect on your life long after they have departed.</li>
        </div></ul>
    </body>
</html>